@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

  
  :root {
    --primary-background: #f7f7f7;
    --secondary-background: #ffffff;
    --input-border-color: #8e8c8c;
    --text-background-color:#007FFF;
    --span-color:#B2BEB5;
    --edit-button:#FFA500;
    --edit-hover:#e69500;
    --delete-button:#FF4C4C;
    --delete-hover:#e60000;
    --status-pending:#9966CC;
    --status-completed:#32CD32;
}

.body-custom{
  background-color: var(--primary-background);
}



